.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #202020;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.search {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 300px;
}

.upload-btn {
  padding: 0.5rem 1rem;
  background-color: #FF0000;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #cc0000;
}
